[submodule "ikth-calculator-v1-js-webpack-pwa-bootstrap-2022"]
	path = ikth-calculator-v1-js-webpack-pwa-bootstrap-2022
	url = https://github.com/RechadSalma/ikth-calculator-v1-js-webpack-pwa-bootstrap-2022.git
[submodule "ikth-calculator-v2-nextjs-react-pwa-css-2022"]
	path = ikth-calculator-v2-nextjs-react-pwa-css-2022
	url = https://github.com/RechadSalma/ikth-calculator-v2-nextjs-react-pwa-css-2022.git
[submodule "ikth-counter-v3-rrouter-rhelmet-rlazy2022"]
	path = ikth-counter-v3-rrouter-rhelmet-rlazy2022
	url = https://github.com/RechadSalma/ikth-counter-v3-rrouter-rhelmet-rlazy2022.git
[submodule "ikth-counter-v4-nextjs-redux-sass-2022"]
	path = ikth-counter-v4-nextjs-redux-sass-2022
	url = https://github.com/RechadSalma/ikth-counter-v4-nextjs-redux-sass-2022.git
[submodule "ikth-counter-v5-webpack-rRouter-redux-sass-2022"]
	path = ikth-counter-v5-webpack-rRouter-redux-sass-2022
	url = https://github.com/RechadSalma/ikth-counter-v5-webpack-rRouter-redux-sass-2022.git
[submodule "ikth-counter-v6-webpack-docker-rRouter-redux-sass-2022"]
	path = ikth-counter-v6-webpack-docker-rRouter-redux-sass-2022
	url = https://github.com/RechadSalma/ikth-counter-v6-webpack-docker-rRouter-redux-sass-2022.git
[submodule "ikth-counter-v7-webpack-dockercompose-jsrouter-2022"]
	path = ikth-counter-v7-webpack-dockercompose-jsrouter-2022
	url = https://github.com/RechadSalma/ikth-counter-v7-webpack-dockercompose-jsrouter-2022.git
[submodule "ikth-count-v8-nextjs-jest-rtl-githubactions-2022"]
	path = ikth-count-v8-nextjs-jest-rtl-githubactions-2022
	url = https://github.com/RechadSalma/ikth-count-v8-nextjs-jest-rtl-githubactions-2022.git
